{% extends "myapp/base.html" %}

{% block subtitle %} | {% if user.is_authenticated %}Private{% else %}Public{% endif %}{% endblock %}

{% block page_header %}
<div class="page-header">
    <h4>Current Time and Date</h4>
</div>
{% endblock page_header %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h4>Information</h4>
          <div class="alert alert-success" role="alert"><strong>Datetime: </strong>{{ now }}</div>
          {% block private_content %}
          {% endblock private_content %}
        </div>
      </div>
{% endblock content %}
